.App {
  text-align: center;
}
.App-logo {
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}


.button-icon {
  margin-right: 5px;
}
.button-text-accent {
  color: purple;
}


.nav-bottom-text {
  font-size: 12px !important;
}
.nav-bottom-item {
  width: 70px;
}

.navbar-offset {
  /* By default, fixed top navbar has height of 50px */
  padding-top: 50px;
  /* By default, fixed bottom navbar has height of 50px */
  padding-bottom: 50px;
}
.navbar-nav: {
  margin: 0;
}

/*
 * Make active icons in bottom navbar purple
 */
.navbar-nav .active a svg {
  fill: purple;
}
.navbar-nav .active a .nav-bottom-text {
  color: purple;
}

/*
 * Make navbar not stack such that bottom navbar can act like native app navbar
 * .navbar-fixed-bottom is how we only affect the bottom navbar and not the top
 */
.navbar-fixed-bottom .navbar-nav>li, .navbar-fixed-bottom .navbar-nav {
  float: left !important;
  margin: 0px;
}
.navbar-fixed-bottom .navbar-right {
  float: right!important;
}
/* Override Bootstrap styling in bottom navbar */
.navbar-fixed-bottom .nav>li>a {
  padding: 2px 10px !important;
}
/* Remove margin below top navbar to maximise space on small screens */
.navbar-fixed-top {
  border: 0px !important;
  margin-bottom: 0px !important;
}


.product-table-header {
  text-align: center;
}
.product-tabs {
  margin: 0 auto;
}


.space-horizontal {
  width: 5px;
}


.summary-card-container {
  width: 100%;
  max-width: 600px;
  position: relative;
  text-align: center;
  color: white;
}
.summary-card-background-default {
  background-color: purple;
  width: 100%;
  height: 500px;
}
.summary-card-background-image {
  width: 100%;
}
.summary-card-text {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline-filter-star {
  margin: 0px 5px;
}
.timeline-story-centred {
  /* Copy Instagram max width */
  width: 600px;
}
/* Add padding around non-image feed elements such as story header and story content text */
.timeline-story-padding {
  padding: 10px;
}
/* Remove default padding around table data */
.timeline-story-table-data {
  padding: 0 !important;
}
.timeline-story-content-image {
  /* Copy Instagram max width */
  max-width: 600px !important;
  width: 100vw;
  height: auto;
}
.timeline-story-header-profile-image {
  height: 40px;
}
.timeline-story-footer-category {
  background-color: lightGrey;
}
.timeline-story-footer-star {
  color: orange;
}



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td.multiline {
  white-space:pre;
}
