.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-icon {
  margin-right: 5px;
}

.navbar-offset {
  /* By default, fixed top navbar has height of 50px */
  padding-top: 70px;
}

/*
 * Make navbar not stack such that bottom navbar can act like native app navbar
 */
.navbar-nav>li, .navbar-nav {
  float: left !important;
}
.navbar-right {
  float: right!important;
}

.product-table-header {
  text-align: center;
}

.product-tabs {
  margin: 0 auto;
}

.space-horizontal {
  width: 5px;
}

.timeline-card-profile-image {
  height: 40px;
}

.timeline-star-filter {
  margin: 0px 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

td.multiline {
  white-space:pre;
}
